*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: url('../media/cursor.svg'), auto;
}

html {
	block-size: 100dvh;
}

body {
	block-size: 100%;
}

#root {
	background: #ebebf0;
	block-size: 100%;
	font-family: var(--main-font);
}

.wrapper {
	display: flex;
	block-size: 100%;
}
