@font-face {
	font-family: 'Futura PT';
	src: url('./FuturaPTNormal.otf') format('opentype');
	font-weight: 400;
}

@font-face {
	font-family: 'Futura PT';
	src: url('./FuturaPTMedium.otf') format('opentype');
	font-weight: 500;
}

@font-face {
	font-family: 'Futura PT';
	src: url('./FuturaPTSemiBold.otf') format('opentype');
	font-weight: 600;
}
